@use './dependancies/colors';

$font-primary: Helvetica, sans-serif;
$transition_one: all 0.3s ease;
$transition_two: opacity 0.15s ease-in-out;

@mixin space {
  margin: auto;
  width: 75%;
}

#container {
  form {
    label {
      margin: auto;
      padding-right: 10px;
      color: colors.$color-second;
    }
    input {
      height: 3rem;
      @include space;
      padding: 0 2rem 0 3.2rem;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 1rem;
      text-overflow: ellipsis;
      color: colors.$color-input;
      outline: none;
      border: 0.05rem solid colors.$color-primary;
      background-image: url(./images/search.svg);
      background-size: 1.4rem;
      background-position: left 1.05rem top 0.8rem;
      background-repeat: no-repeat;
      background-origin: border-box;
      background-color: #fff;
      transition: all 0.4s ease;
      -webkit-transition: all -webkit-transform 0.4s ease;
    }

    input::placeholder {
      color: colors.$color-primary;
      transition: $transition_one;
      -webkit-transition: all -webkit-transform 0.3s ease;
    }
    input:hover::placeholder {
      color: colors.$color-primary;
      transition: $transition_one;
      -webkit-transition: all -webkit-transform 0.3s ease;
    }
    input:focus::selection {
      background-color: colors.$color-primary;
    }
    input:hover {
      color: colors.$color-third;
      transition: $transition_one;
      -webkit-transition: all -webkit-transform 0.3s ease;
    }
  }
  ul {
    position: absolute;
    max-height: 226px;
    overflow-y: scroll;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0.5rem 0 0 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 3px 6px colors.$color-box-shadow;
    outline: none;
    transition: $transition_two;
    -moz-transition: $transition_two;
    -webkit-transition: $transition_two;
  }
  ul,
  li {
    padding: 0.3rem 0.5rem;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    background-color: colors.$background-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
    margin: auto;
    width: 75%;
  }
  ul[hidden],
  ul:empty {
    display: block;
    opacity: 0;
    transform: scale(0);
  }

  ul,
  li {
    background-color: transparent;
    color: colors.$color-second;
  }
  ul,
  li:hover {
    cursor: pointer;
    background-color: colors.$background-color;
  }

  ul,
  li[aria-selected='true'] {
    background-color: colors.$background-color;
  }
}

@media only screen and (max-width: 600px) {
  .autocomplete_wrapper > input {
    width: 18rem;
  }
}

.hidden {
  display: none;
}
