$color-primary: rgba(255, 122, 122, 0.5);
$color-second: rgba(255, 122, 122, 1);
$color-third: rgba(255, 122, 122, 0.8);
$color-border: rgba(33, 33, 33, 0.07);
$color-palceholder: rgba(255, 122, 122, 0.4);
$color-box-shadow: rgba(149, 157, 165, 0.15);
$color-input: rgba(255, 122, 122, 0.3);
$background-color: rgba(255, 255, 255, 1);
$background-color: rgba(255, 122, 122, 0.15);
$transition_one: all 0.3s ease;
$transition_two: opacity 0.15s ease-in-out;
